node_modules/
dist/
ios/App/App/public/
ios/DerivedDataAgent/
**/.DS_Store
.env
.env.local
.env.*.local
*.log
.DS_Store
.vercel
supabase/.temp/
playwright-report/
test-results/
log/
playwright-browserstack-sdk.config.ts
